#footer{
    width: 100%;
    min-width: 1200px;
    height: 175px;
    background-image: url("../images/footbg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
#footer>div{
    width: 1200px;
    height: 175px;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    line-height: 175px;
}
#footer img{
    vertical-align: middle;
}