.price{
    font-size: 1.7rem;
    color: #e60012;
}
.likenum{
    font-size: 0.9rem;
    color: #a5a5a5;
    line-height: 3rem;
}
#bottom-nav{
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: white;
}
.bottom-wrap{
    width: 100%;
    display: flex;
    justify-content: space-around;
    /*height:5.8rem;*/
    align-items: center;
}
.bottom-wrap>a{
    width: 4rem;
    height: 3.6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 3.9rem;
    box-sizing: border-box;
    text-align: center;
}
.nocolor{
    font-size: 0.8rem;
    color: #6f6f6f;
    letter-spacing: 0.2rem;
    line-height: 0.4rem;
}
.addborder{
    border-bottom: #ff7d00 0.2rem solid;
}
.addcolor{
    color: #ff7d00;
}
.normal{
    width: 75%;
    height:3rem;
    filter: grayscale(1);
    transform: scale(0.7);
    display: block;
}
.changecolor{
    filter: grayscale(0);
}