#main{
    width: 100%;
    margin-top: 7rem;
}
.maintop{
    width: 100%;
    height: 36rem;
    background-image: url("../images/5.02.jpg");
    background-size: 100% 100%;
    display: flex;
}
.maintop>div{
    margin: auto;
    text-align: center;
}
.maintop>div>span{
    display: block;
    color: white;
}
.maintop>div>span:first-child{
    font-size: 2rem;
    font-weight: lighter;
    text-shadow: 0.2rem 0.1rem 0.1rem black;
}
.maintop>div>span:nth-child(2){
    font-size:5rem ;
    font-weight: bolder;
    text-shadow: 0.2rem 0.1rem 0.1rem black;
}
.maintop>div>span:last-child{
    font-size: 1.8rem;
    font-weight: lighter;
    text-shadow: 0.2rem 0.1rem 0.1rem black;
    letter-spacing: 3rem;
    padding-left: 2.8rem;
}
.content{
    width: 100%;
    margin: 7rem 0;
    display: flex;
    align-items: baseline;
}
.content>div{
    box-sizing: border-box;
    text-align: center;
}
.column1{
    display: flex;
    width: 18%;
    height: 43rem;
    flex-direction: column;
    justify-content: space-between;
}
.column1>a{
    display: block;
    width: 6rem;
    height: 6rem;
    border-left: #BDA47A 1px solid;
    border-top: #BDA47A 1px solid;
    transform: rotate(-45deg);
    margin: auto;
}
.column2{
    width: 23%;
    height: 54rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.column2>a{
    display: block;
    margin:0  auto;
}
.column3{
    width: 18%;
    height: 54rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.column3>a{
    display: block;
    width: 5rem;
    height: 5rem;
    border-left: #BDA47A 1px solid;
    border-top: #BDA47A 1px solid;
    transform: rotate(-135deg);
    margin: 0 auto;
}
.column3>a:first-child{
    transform: rotate(45deg);
}
.column4{
    width: 23%;
    height: 54rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.column4>a{
    display: block;
    margin:0  auto;
}
.column5{
    display: flex;
    width: 18%;
    height: 43rem;
    flex-direction: column;
    justify-content: space-between;
}
.column5>a{
    display: block;
    width: 5rem;
    height: 5rem;
    border-left: #BDA47A 1px solid;
    border-top: #BDA47A 1px solid;
    transform: rotate(135deg);
    margin: auto;
}
.content img{
    width:8rem;
    height: 8rem;
}
.content>div span{
    display: block;
    font-size: 2rem;
    letter-spacing: 1px;
    color: #4c4c4c;
}
.content>div>a>span:nth-child(3){
    font-size: 1.2rem;
    margin: 0 0 1rem 0;
    letter-spacing: 0;
    color: black;
}
.content>div p{
    font-size: 3rem;
    color: black;
    margin: 0;
    font-weight: bold;
}